-----BEGIN CERTIFICATE-----
MIID+TCCAuGgAwIBAgIUO2teMaqRtWKurBQpnpNuCeHevVgwDQYJKoZIhvcNAQEL
BQAwgYsxCzAJBgNVBAYTAlJVMQ8wDQYDVQQIDAZNb3Njb3cxDzANBgNVBAcMBk1v
c2NvdzEPMA0GA1UECgwGTWVjb3JwMQ8wDQYDVQQLDAZNZWNvcnAxDzANBgNVBAMM
Bk1lY29ycDEnMCUGCSqGSIb3DQEJARYYZGVyZWtfZm9uX2ZlcnJ1bUBtYWlsLnJ1
MB4XDTI1MDMxMjIxMDcwNVoXDTI2MDMxMjIxMDcwNVowgYsxCzAJBgNVBAYTAlJV
MQ8wDQYDVQQIDAZNb3Njb3cxDzANBgNVBAcMBk1vc2NvdzEPMA0GA1UECgwGTWVj
b3JwMQ8wDQYDVQQLDAZNZWNvcnAxDzANBgNVBAMMBk1lY29ycDEnMCUGCSqGSIb3
DQEJARYYZGVyZWtfZm9uX2ZlcnJ1bUBtYWlsLnJ1MIIBIjANBgkqhkiG9w0BAQEF
AAOCAQ8AMIIBCgKCAQEA8H1zOgwNU5shXjha5ksGs/S1VpEZOO3l/cBHSWokYUN3
TxIpav5uWSAXBEXu3KmqRjq81uG4jm51tvTql5/sTaMIQ3y2t5hW3Bc8OA/GA4AT
HI9GgQg/DUOwrUKx9F7+6Xt9jnPpC/c6RMmPDUIXup7KKYWehVlaLa/vw1apPDSN
xFA6kZpt8E2JZXHuoUsuqw/tSpWsupuyB2toWIh19Yx+bWJ/KD7wXlQ+GfIEOZSq
PH5tbs/ojUOHPWr1kVBygM3oluJN7azGwRY5CBJmm+OwBDHvWMf2rGeDW0Cyew+X
xkpbfLtjrrZrXdoz3cRCPbYPccqr/q3mb5vYLbC+NwIDAQABo1MwUTAdBgNVHQ4E
FgQUMA7ca3QVuIGjWjRUwDmcG+cDdrIwHwYDVR0jBBgwFoAUMA7ca3QVuIGjWjRU
wDmcG+cDdrIwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEAF4mH
kt7mn/VBvaR/vxEscDNG80npEJfq0PfGt0ohZs2+HDkBcR5w8Dh3QiNsAgtRYkYZ
f0+xy+oUcpQnLYtggVSQyJlveT3euv9YWiT9IY2/Yqnq0Zxw90VrzdCP4+rDmSOe
ymsfhqAwZoweoqsO7aWU4hrlik4T2JWmyp2lQ+kFrLD4ZA3JMkDCDFCL24TXTECq
oBD/nzoSZzFozgny40Yf5e+aJj44L4NX3/65LYZaemBkaQgunP4NDPuSEsmpvE7T
AAVf5LpQaynnFMR6amCPT3PVkCyoqmwW/v4hPu4zHmRH6haA5Htta/jpYbzl+Pic
DwlgNM4KbsiNUQIGQA==
-----END CERTIFICATE-----
